<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MATPaint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MATPaint.Properties.Settings>
            <setting name="appLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="appState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="appSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MatCols" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MatRows" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Recent1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Recent2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Recent3" serializeAs="String">
                <value/>
            </setting>
        </MATPaint.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
